.panel-content{
  /*font-size: 20px;*/
  padding-top: 10px;
  padding-bottom: 9px;
}

.panel-header{
    /*font-size: 25px;*/
}

.panel-button{
  /*font-size: 16px;*/
}

.panel{
  margin-top: 15px;
}
.modal-body {
    position: relative;
    padding: 15px;
    float: left;
    width: 100%;
    background: #fff;
}